<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Footer</title>
  </head>
  <body>
    <footer class="footer">
      <div class="footer-container">
        <p class="footer-text">&copy; Business Management Software. Tous droits réservés.</p>
        <ul class="footer-links">
          <li class="footer-link-item"><a href="/privacy-policy" class="footer-link">Politique de confidentialité</a></li>
          <span class="dash">-</span>
          <li class="footer-link-item"><a href="terms-of-use" class="footer-link">Conditions d'utilisation</a></li>
          <span class="dash">-</span>
          <li class="footer-link-item"><a href="/contact" class="footer-link">Contactez-nous</a></li>
        </ul>
      </div>
  </footer>
  </body>
</html>
