<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un Employé</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/add-employee.css">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="form-container">
    <a href="/view" class="back-link">Retour</a>
    <h1 class="add-title">Ajouter un Employé</h1>
    <form method="post" th:action="@{/add-employee}" th:object="${employee}">
        <label for="nom">Nom</label>
        <input id="nom" required th:field="*{nom}" type="text"/>

        <label for="prenom">Prénom</label>
        <input id="prenom" required th:field="*{prenom}" type="text"/>

        <label for="email">Email</label>
        <input id="email" required th:field="*{email}" type="email"/>

        <label for="poste">Poste</label>
        <input id="poste" required th:field="*{poste}" type="text"/>

        <label for="salaire">Salaire</label>
        <input id="salaire" required th:field="*{salaire}" type="number"/>

        <input type="submit" value="Ajouter"/>
    </form>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
